@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #000000;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e74c3c;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0392b;
  }
}
